* {
    padding: 0;
    margin: 0;
    user-select: none;
}

@keyframes start {
    0% {
        background-color: white;
        color: white;
        box-shadow: none
    }

    80% {
        background-color: white;
        color: white;
        box-shadow: none
    }

    100% {
        background-color: rgba(0, 0, 0, 0.8);
        color: black;
    }
}


@keyframes start-message {
    0% {
        color: rgba(0, 0, 0, 0.8);
    }

    100% {
        color: white;
    }
}


.body {
    width: 1440px;
    height: 4000;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0px;
    backdrop-filter: blur(2px);
    z-index: 2;
}


i {
    position: relative;
    font-weight: 70px;
    left: -5px;
    top: -3px;

}


a {
    text-decoration: none;
    background: none;
}

a:active {
    color: black;
}


a:visited {
    color: black;
}

.header-img {
    width: 50px;
    height: 50px;
    position: relative;
    top: 9px;
    left: -5px;
}

.header-text {
    position: relative;
    top: -7px;
}

.main {
    width: 80%;
    margin: 20vw auto;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main > img {
    box-shadow: 2px 2px 8px #aeaed3;
    transition: 0.4s all cubic-bezier(0.36, 0.31, 0, 1.05);

}

.main > img:active {
    box-shadow: none
}

@media (min-width: 0px) {
    /*手机屏幕*/
    .iframe-off {
        left: 35.5vw;
        top: 19vh;
    }
}

@media (max-width: 1000px) {
    /*大屏幕*/
    .main {
        width: 100%;
        height: 70vh;
    }

    .main > img {
        height: auto;
        width: 100%;
    }
}

@media (min-width: 1024px) {
    /*电脑屏幕*/
    .main{
        height: 20vh;
    }
    .main > img {
        height: 30vw;
        width: auto;
    }
}



.foot {
    background: #fff;
    width: 100%;
    height: auto;
    padding: 20px 20px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 15px 15px 45px #000;
    animation-name: start;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

img {
    height: auto;
    width: 100%;
    transform: scale(0.9);
    border-radius: 7px;
}

.date {
    font-weight: bold;
    display: -webkit-box;
    user-select: all;
    width: 63vw;
    overflow: hidden; /* 添加此行来裁剪超出内容 */
    white-space: nowrap; /* 防止内容换行 */
    text-overflow: ellipsis; /* 添加省略号 */
    height: 19px;
    font-size: 17px;
    animation-name: start-message;
    animation-duration: 2s;
    animation-delay: 1.1s;
    animation-fill-mode: forwards;
}

.message {
    font-weight: bold;
    font-size: 14px;
    margin-top: 2px;
    user-select: text;
    animation-name: start-message;
    animation-delay: 1.1s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}