body {
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: 渐变入场;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.36, 0.31, 0, 1.05);
}

h1 {

}

.进度条_主页 {
    height: 39px;
    width: 48px;
    display: contents;
}