<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;"/>
    <meta name="keywords" content="RandomPhotoProject,RandomPhoto,鱼几斤,随机图片站,接口站,2645602049@qq.com"/>
    <meta name="description" content="欢迎来到RandomPhoto，RandomPhoto是一款免费的壁纸提供接口站，本站存有300多张全网精选二次元壁纸，分为手机版和电脑版两种版本，你可以在本站预览和下载所有的壁纸。我们不希望您通过直链方式调用图片，但我们欢迎您从指定的select接口调用图片这个项目经历了很多跌宕起伏，但是我相信他能变得很好，我相信他能一直活下去">

    <script src="../static/js/静态资源集中管理部门.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/css/mdui.min.css" integrity="sha384-cLRrMq39HOZdvE0j6yBojO4+1PrHfB7a9l5qLcmRm/fiWXYY+CndJPmyu5FV/9Tw" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/js/mdui.min.js" integrity="sha384-gCMZcshYKOGRX9r6wbDrvF+TcCCswSHFucUzUPwka+Gr+uHgjlYvkABr95TCOz3A" crossorigin="anonymous"></script>
    <title>RandomPhoto - ChangeLog更新记录</title>

</head>
<script>
    var $ = mdui.$;
</script>


<body id="body">
<div style="display: none" id="版本号">{{版本号}}</div>

<!-- 顶栏 -->
<div class="mdui-toolbar mdui-appbar-fixed applicationBar 应用栏" style="z-index: 1;backdrop-filter: blur(6px);">
    <button class="drawer mdui-btn mdui-btn-icon mdui-ripple" onclick="parent.parent.返回('ChangeLog')"><i
            class="mdui-icon material-icons">arrow_back</i></button>
    <a href="javascript:" class="mdui-typo-headline" onclick="滚动到页面最顶()">更新记录</a>
</div>
<div id="上滑偏移">
    <div class="项目范围" id="项目范围"></div>
</div>

<div class="page_blank"></div>
<script>
    静态资源集中管理部门([
        "../static/css/independent/项目范围.css",
        "../static/css/independent/正文.css",
        "../static/css/RandomPhoto_style.css",
        "../static/css/theme/light.css",
        "../static/js/mdui_tool.js",
        "../static/js/ChangeLog.js",
    ])
</script>
</body>
</html>

