<!--
 * @Author: YUIJ 2645602049@qq.com
 * @Date: 2022-12-05 08:51:35
 * @LastEditors: YUIJ 2645602049@qq.com
 * @LastEditTime: 2023-01-10 18:54:45
 * @FilePath: \RandomCall\main.html
 * @Description: 这是默认设置,请设置'customMade', 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!DOCTYPE html>
<html lang="zh-CN" id="html">

<head>
    <meta charset="utf-8">
    <link href="../static/favicon.svg" rel="shortcut icon" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;"/>
    <title>RandomPhoto - 随机图片提供系统 By鱼鱼</title>
    <meta name="keywords"
          content="RandomPhotoProject,RandomPhoto,鱼几斤,随机图片站,接口站,2645602049@qq.com"/>
    <meta name="description" content="RandomPhoto是一款免费的壁纸提供接口站，分为手机版和电脑版两种版本，你可以在本站预览和下载所有的壁纸。">
    <script src="../static/js/静态资源集中管理部门.js"></script>
    <link rel="stylesheet" href="../static/css/independent/main/启动图.css">
    <link rel="stylesheet" href="../static/css/independent/main/组件.css">
    <link rel="stylesheet" href="../static/css/independent/main/子页面相关.css">
    <link rel="stylesheet" href="../static/css/independent/main/渐变入场.css">
    <link rel="stylesheet" href="../static/css/independent/main/main.css">
    <link rel="canonical" href="{{ 域名 }}">
</head>

<body id="body">

<div class="加载内容" id="加载内容"></div>
<div id="计时器" style="display: none">true</div>
<div id="index"></div>
<div id="背景图片" class="背景图片"></div>
<div id="启动图" class="启动图">
    <h1
            style="text-align: center;font-size: 38px;margin-top: 33vh;animation-iteration-count: infinite;font-weight: bold;margin-bottom: 20vh;">
        RandomPhoto</h1>

    <svg>
        <circle cx="26" cy="26" fill="none" stroke="red"></circle>
    </svg>
</div>


</body>
<script src="../static/js/independent/main.js"></script>
</html>