<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ 时间 }}">
    <link href="../static/favicon.svg" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/independent/photo-info.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <script src="../static/js/静态资源集中管理部门.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/css/mdui.min.css" integrity="sha384-cLRrMq39HOZdvE0j6yBojO4+1PrHfB7a9l5qLcmRm/fiWXYY+CndJPmyu5FV/9Tw" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/js/mdui.min.js" integrity="sha384-gCMZcshYKOGRX9r6wbDrvF+TcCCswSHFucUzUPwka+Gr+uHgjlYvkABr95TCOz3A" crossorigin="anonymous"></script>
    <link rel="canonical" href="{{ 域名 }}\Photoinfo\{{ 路径 }}">

    <title>RandomPhoto - PhotoInfo：{{ 时间 }}</title>

</head>
<script>


    function 文本拷贝(text) {
        const input = document.createElement('textarea');
        input.value = text;
        // 不要让input.value转义
        input.setAttribute('readonly', '');


        document.body.appendChild(input);
        input.select();
        document.execCommand('copy');
        document.body.removeChild(input);
        console.log(text)
        snackbar(`文件名:${text}复制成功`)
    }
</script>

<body style="background: #ffffff99;">
    <div class="mdui-toolbar mdui-color-theme mdui-toolbar  应用栏 header">
        <a href="javascript:" class="mdui-btn mdui-btn-icon" onclick="window.history.back()">
            <i class="mdui-icon material-symbols-outlined">arrow_back</i>
        </a>
        <a href="javascript:" class="mdui-typo-headline">
            <span class="header-text">Photo</span>
            <img src="../static/assats/photo.jpg" class="header-img">
        </a>
        <a onclick="文本对话框('输入你要添加的内容',(输入数据)=>{
            if(输入数据.length>2){
                ajax_helper_main('post','/universal/<test>',FormData,(data)=>{
                console.log(`成功${data}`)
                },(data)=>{
                    data = ajax_helper_返回值解码(data)
                    if(data['状态']==='成功'){
                        console.log(data)
                        对话框('您的tag修改请求已提交到审核队列')
                    }else{
                        snackbar(`失败: ${data['内容']}`)
                    }
                })
            }else{
                对话框('至少输入一个词')
            }
        })" class="mdui-btn mdui-btn-icon">
        <i class="mdui-icon material-symbols-outlined">edit</i>
    </a>
    </div>


    <div class=main id="main">

    </div>
    <script>
        数据源 = String.raw`{{ 路径 }}`
        // 去掉所有的斜线
        数据源 = 数据源.replace(/\\/g, "")
        数据源 = 数据源.replace(/img/g, "")
        数据源 = 数据源.replace(/主站原始图片/g, "")

        main = document.getElementById("main")
        main.innerHTML = `
            <img src="../img/主站原始图片/${数据源}" onclick="文本拷贝('${数据源}')" id="img">
        `
    </script>
    <div class=foot>
        <div class=date>{{ 时间 }}</div>
        <div class=message>{{ 内容 }}</div>
    </div>
</body>
<script>
    静态资源集中管理部门([
        "../../static/js/mdui_tool.js",
        "../../static/js/ajax_helper.js",
        "../../static/css/RandomPhoto_style.css",
    ])

</script>
</html>