li {
    position: relative;
    font-size: revert;
    left: 23px;
    width: 90%;
    font-weight: 430;
    color: #6d7489;
    word-break: break-word;
    line-height: 23px;
    user-select: text;
}

ol{
    padding:0;
}

.板块 {
    /*background: hotpink;*/
    width: 100%;
    padding-bottom: 30px;
    border-bottom: solid 0.5px #5e87be52;
}

.标题 {
    height: 47px;
    display: flex;
    justify-content: space-between;
}

.版本号 {
    /*background: indianred;*/
    height: 47px;
    width: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.版本号值 {
    font-weight: 600;
    /* background: blueviolet; */
    height: 47px;
    width: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.内容 {
    /*background: #00b8d4;*/
    width: 100%;
    position: relative;
    top: 3px;
}

